{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Metropolis</title>
        <!-- icon -->
        <link rel="icon" href="{% static 'assets/img/icon/96154b1e3187e435ef145eb2bd02a1b4.png' %}">
        <!-- Bootstrap core CSS -->
        <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{% static 'css/cover.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">Metropolis</h3>
                            <nav class="nav nav-masthead">
                                <a class="nav-link" href="home.html">Home</a>
                                <a class="nav-link" href="about.html#contact-us">Contact</a>
                                <a class="nav-link" href="about.html">About</a>
                            </nav>
                        </div>
                    </div>
                    <div class="cover inner  pb-5 pt-5">
                        <h1 class="cover-heading">Metropolis Military</h1>
                        <p class="lead">The Military protects the Country's interests at home and abroad, providing a safe and secure environment in which all citizens can live and prosper.</p>
                        <p class="lead"> <a href="home.html" class="btn btn-lg btn-secondary">Home</a> </p>
                    </div>
                    <div class="mastfoot">
                        <div class="inner">
                            <p>Developed by Group 9 - Web Programming.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    </body>
</html>