<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Elroy Kanye">
        <title>Services</title>
        <!-- icon -->
        <link rel="icon" href="assets/img/icon/96154b1e3187e435ef145eb2bd02a1b4.png">
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="blocks.css">
        <!-- Custom styles for this page -->
        <link href="css/services-style.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/cover.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="inner" style="background-image: url('assets/img/pexels-specna-arms-889709.jpg'); background-attachment: fixed; background-size: cover; padding-bottom: 64px;">
                <h3 class="masthead-brand">Metropolis</h3>
                <nav class="nav nav-masthead">
                    <a class="nav-link" href="home.html">Home</a>
                    <a class="nav-link" href="about.html#what-we-do">What We Do</a>
                    <a class="nav-link" href="about.html#who-we-are">Who We Are</a>
                    <a class="nav-link" href="equipment.html">Equipment</a>
                    <a class="nav-link active" href="services.html">Services</a>
                    <a class="nav-link" href="blog.html">News and Events</a>
                    <a class="nav-link" href="#">Careers</a>
                </nav>
            </div>
        </header>
        <section class=" pb-5 pt-5" style="background-image: url('assets/img/pexels-specna-arms-889709.jpg'); background-attachment: fixed; background-size: cover;">
            <div class="mb-5 mt-5 pb-5 pt-5 row w-100">
                <h1 class="bg-dark font-weight-bolder m-5 pb-4 pl-5 pr-5 pt-4 text-capitalize text-left text-white" style="font-variant: small-caps;">Services</h1>
            </div>
        </section>
        <section class="pt-5 text-secondary">
            <section class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center mb-5">
                        <div style="color: #ffffff; text-transform: uppercase;">
                            <h6>Professional Soldiers</h6>
                            <h1 style="padding-bottom: 24px; padding-top: 24px; font-style: normal;" class="text-roman">Dedicated to Helping Our Country Succeed</h1>
                            <p class="font-weight-light lead mb-4 text-roman">
                                Our ability to feel, act and communicate is indistinguishable from magic. </p>
                            <a href="contact.html" class="btn btn-primary services-button">Contact Us</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="background-darken mb-n5 p-3 shadow" style="position: relative; background-image: url('assets/img/harrison-haines.jpg'); background-size: cover; background-color: rgba(36, 36, 36, 0.56);">
                            <img src="assets/img/harrison-haines.jpg" class="img-fluid w-100">
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <section class="pb-5 pt-5 text-secondary"> 
            <div class="container pb-5 pt-5" style="padding-top: 24px; padding-bottom: 24px; margin-bottom: 48px;"> 
                <div class="align-items-center mb-3 row background-darken" style="padding-top: 32px; padding-bottom: 32px;"> 
                    <div class="col-lg-7"> 
                        <h5 class="mb-1 text-primary text-light">Services</h5> 
                        <h2 class="font-weight-bold mb-1 text-light">We are committed to protecting our Country</h2>
                    </div>                     
                    <div class="col-lg-auto ml-auto"> 
                        <a href="#" class="btn btn-primary services-button">Read More</a> 
                    </div>                     
                </div>                 
                <div class="row"> 
                    <div class="services-block col-sm-6 col-xl-3 pb-3 pt-3"> 
                        <div class="services-block d-block pb-5 pl-4 pr-4 pt-5 shadow">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="2.5em" height="2.5em" class="mb-3 text-primary">
                                <g>
                                    <path fill="none" d="M0 0h24v24H0z"/>
                                    <path d="M21 8v12.993A1 1 0 0 1 20.007 22H3.993A.993.993 0 0 1 3 21.008V2.992C3 2.455 3.449 2 4.002 2h10.995L21 8zm-2 1h-5V4H5v16h14V9zM8 7h3v2H8V7zm0 4h8v2H8v-2zm0 4h8v2H8v-2z"/>
                                </g>
                            </svg>                             
                            <h5 class="font-weight-bold text-lighten text-roman">Services and Record Medals</h5> 
                            <p>If you are searching for records of a campaign or service medal awarded to someone who fought with the British armed services prior to the Second World War, we suggest that you take a look at the Natioanal Archives</p> 
                        </div>                         
                    </div>                     
                    <div class="services-block col-sm-6 col-xl-3 pb-3 pt-3"> 
                        <div class="services-block d-block mb-sm-n5 mt-sm-5 pb-5 pl-4 pr-4 pt-5 shadow">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="2.5em" height="2.5em" class="mb-3 text-primary">
                                <g>
                                    <path fill="none" d="M0 0h24v24H0z"/>
                                    <path d="M17 15.245v6.872a.5.5 0 0 1-.757.429L12 20l-4.243 2.546a.5.5 0 0 1-.757-.43v-6.87a8 8 0 1 1 10 0zm-8 1.173v3.05l3-1.8 3 1.8v-3.05A7.978 7.978 0 0 1 12 17a7.978 7.978 0 0 1-3-.582zM12 15a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"/>
                                </g>
                            </svg>                             
                            <h5 class="font-weight-bold text-lighten text-roman">Complaints about Service Personel</h5> 
                            <p>Where allegations or complaints are made about the behaviour of individuals who can be identified as serving British Army personnel, the information is sent to the relevant chain of command.</p> 
                        </div>                         
                    </div>                     
                    <div class="col-sm-6 col-xl-3 pb-3 pt-3 services-block"> 
                        <div class="services-block d-block pb-5 pl-4 pr-4 pt-5 shadow">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="2.5em" height="2.5em" class="mb-3 text-primary">
                                <g>
                                    <path fill="none" d="M0 0h24v24H0z"/>
                                    <path d="M4 2h16a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1zm1 2v16h14V4H5zm2 2h10v4H7V6zm0 6h2v2H7v-2zm0 4h2v2H7v-2zm4-4h2v2h-2v-2zm0 4h2v2h-2v-2zm4-4h2v6h-2v-6z"/>
                                </g>
                            </svg>                             
                            <h5 class="font-weight-bold text-roman text-lighten">Service Complaints</h5> 
                            <p>If you are writing to complain about how you have been treated whilst serving in the Army, you will need to forward your complaint to the Army Service Complaints Secretariat.</p> 
                        </div>                         
                    </div>                     
                    <div class="col-sm-6 col-xl-3 pb-3 pt-3 services-block"> 
                        <div class="services-block d-block mt-sm-5 pb-5 pl-4 pr-4 pt-5 shadow">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="2.5em" height="2.5em" class="mb-3 text-primary">
                                <g>
                                    <path fill="none" d="M0 0h24v24H0z"/>
                                    <path fill-rule="nonzero" d="M12 11a5 5 0 0 1 5 5v6h-2v-6a3 3 0 0 0-2.824-2.995L12 13a3 3 0 0 0-2.995 2.824L9 16v6H7v-6a5 5 0 0 1 5-5zm-6.5 3c.279 0 .55.033.81.094a5.947 5.947 0 0 0-.301 1.575L6 16v.086a1.492 1.492 0 0 0-.356-.08L5.5 16a1.5 1.5 0 0 0-1.493 1.356L4 17.5V22H2v-4.5A3.5 3.5 0 0 1 5.5 14zm13 0a3.5 3.5 0 0 1 3.5 3.5V22h-2v-4.5a1.5 1.5 0 0 0-1.356-1.493L18.5 16c-.175 0-.343.03-.5.085V16c0-.666-.108-1.306-.309-1.904.259-.063.53-.096.809-.096zm-13-6a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zm13 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zm-13 2a.5.5 0 1 0 0 1 .5.5 0 0 0 0-1zm13 0a.5.5 0 1 0 0 1 .5.5 0 0 0 0-1zM12 2a4 4 0 1 1 0 8 4 4 0 0 1 0-8zm0 2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                                </g>
                            </svg>                             
                            <h5 class="font-weight-bold text-lighten text-roman">Recruitment Issues</h5> 
                            <p>Any information on British Army recruitment, basic entry requirements and how to apply can be found on the Army Careers page.</p> 
                        </div>                         
                    </div>                     
                </div>                 
            </div>             
        </section>
        <section> 
            <div class="container">
                <div class="background-darken p-4 pl-lg-5 pr-lg-5 text-secondary">
                    <div class="align-items-center row"> 
                        <div class="col-lg-7"> 
                            <h5 class="text-lighten text-muted text-uppercase text-roman">Get In Touch</h5> 
                            <h2 class="font-weight-bold h1 mb-4 text-lighten">Maximize the efficiency and quality of your Skill</h2> 
                            <a href="about.html#contact-us" class="btn btn-primary">Contact</a> 
                        </div>
                        <div class="col-lg-5"> 
                            <img src="assets/img/pexels-specna-arms-1927974.jpg" class="w-100"/> 
                        </div>                         
                    </div>
                </div>                 
            </div>             
        </section>
        <section> 
            <div class="container">
                <div class="bg-primary pb-5 pl-4 pr-4 pt-5 text-center text-white">
                    <div class="col-xl-10 mx-auto pb-4 pt-4 text-white">
                        <h6 class="mb-1">Our Number Counts</h6>
                        <h2 class="font-weight-bold mb-4">Most awarded Military in VR</h2>
                        <div class="justify-content-center row"> 
                            <div class="col-lg-3 col-sm-6 pb-3 pt-3">
                                <div class="pb-5 pl-3 pr-3 pt-5">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="3em" height="3em" class="mb-4">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 14v2a6 6 0 0 0-6 6H4a8 8 0 0 1 8-8zm0-1c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm6 10.5l-2.939 1.545.561-3.272-2.377-2.318 3.286-.478L18 14l1.47 2.977 3.285.478-2.377 2.318.56 3.272L18 21.5z"/>
                                        </g>
                                    </svg>
                                    <h2 class="font-weight-bold mb-1">636</h2>
                                    <p class="mb-0">Experiences Soldiers</p>
                                </div>                                 
                            </div>
                            <div class="col-lg-3 col-sm-6 pb-3 pt-3">
                                <div class="pb-5 pl-3 pr-3 pt-5">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="3em" height="3em" class="mb-4">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M2 13h6v8H2v-8zm14-5h6v13h-6V8zM9 3h6v18H9V3zM4 15v4h2v-4H4zm7-10v14h2V5h-2zm7 5v9h2v-9h-2z"/>
                                        </g>
                                    </svg>
                                    <h2 class="font-weight-bold mb-1">1349</h2>
                                    <p class="mb-0">Milestones Completed</p>
                                </div>                                 
                            </div>
                            <div class="col-lg-3 col-sm-6 pb-3 pt-3">
                                <div class="pb-5 pl-3 pr-3 pt-5">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="3em" height="3em" class="mb-4">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-5-8h2a3 3 0 0 0 6 0h2a5 5 0 0 1-10 0z"/>
                                        </g>
                                    </svg>
                                    <h2 class="font-weight-bold mb-1">2496</h2>
                                    <p class="mb-0">Satisfied Citizens</p>
                                </div>                                 
                            </div>
                            <div class="col-lg-3 col-sm-6 pb-3 pt-3">
                                <div class="pb-5 pl-3 pr-3 pt-5">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="3em" height="3em" class="mb-4">
                                        <g>
                                            <path fill="none" d="M0 0h24v24H0z"/>
                                            <path d="M5 4.604v9.185a4 4 0 0 0 1.781 3.328L12 20.597l5.219-3.48A4 4 0 0 0 19 13.79V4.604L12 3.05 5 4.604zM3.783 2.826L12 1l8.217 1.826a1 1 0 0 1 .783.976v9.987a6 6 0 0 1-2.672 4.992L12 23l-6.328-4.219A6 6 0 0 1 3 13.79V3.802a1 1 0 0 1 .783-.976zM12 13.5l-2.939 1.545.561-3.272-2.377-2.318 3.286-.478L12 6l1.47 2.977 3.285.478-2.377 2.318.56 3.272L12 13.5z"/>
                                        </g>
                                    </svg>
                                    <h2 class="font-weight-bold mb-1">4694</h2>
                                    <p class="mb-0">Badges Awarded</p>
                                </div>                                 
                            </div>                             
                        </div>
                    </div>
                </div>                 
            </div>             
        </section>
        <section class="pb-5 pt-5 text-center"> 
            <div class="container pb-4 pt-4"> 
                <div class="row"> 
                    <div class="col-lg-8 ml-auto mr-auto"> 
                        <div id="carousel2" class="carousel slide" data-ride="carousel"> 
                            <div class="carousel-inner"> 
                                <div class="carousel-item active"> 
                                    <svg viewBox="0 0 24 24" fill="currentColor" height="80" width="80" class="mb-3 text-primary"> 
                                        <path d="M23 1V5.06504C21.9136 5.67931 21.0807 6.43812 20.5012 7.34146C19.958 8.24481 19.5416 9.20235 19.2519 10.2141C18.9621 11.2258 18.8173 12.346 18.8173 13.5745H23V22.4634H14.0914V16.935C14.0914 13.6107 14.3992 11.0813 15.0148 9.34688C15.6667 7.61246 16.6444 6.02258 17.9481 4.57723C19.2519 3.09575 20.9358 1.90334 23 1ZM9.90864 1V5.06504C8.82222 5.67931 7.9893 6.43812 7.40988 7.34146C6.83045 8.24481 6.39588 9.20235 6.10617 10.2141C5.81646 11.2258 5.67161 12.346 5.67161 13.5745H9.90864V22.4634H1V16.935C1 13.6107 1.30782 11.0813 1.92346 9.34688C2.57531 7.61246 3.55309 6.02258 4.85679 4.57723C6.16049 3.09575 7.84444 1.90334 9.90864 1Z"/> 
                                    </svg>                                     
                                    <h2 class="mb-3">In chess, the pawns go first. It is a sacrifice for the greater good</h2> 
                                    <div class=""> 
                                        <span>Ketimoh Florantine - </span> 
                                        <span class="text-primary">KFA Tech</span> 
                                    </div>                                     
                                </div>                                 
                                <div class="carousel-item"> 
                                    <svg viewBox="0 0 24 24" fill="currentColor" height="80" width="80" class="mb-3 text-primary"> 
                                        <path d="M23 1V5.06504C21.9136 5.67931 21.0807 6.43812 20.5012 7.34146C19.958 8.24481 19.5416 9.20235 19.2519 10.2141C18.9621 11.2258 18.8173 12.346 18.8173 13.5745H23V22.4634H14.0914V16.935C14.0914 13.6107 14.3992 11.0813 15.0148 9.34688C15.6667 7.61246 16.6444 6.02258 17.9481 4.57723C19.2519 3.09575 20.9358 1.90334 23 1ZM9.90864 1V5.06504C8.82222 5.67931 7.9893 6.43812 7.40988 7.34146C6.83045 8.24481 6.39588 9.20235 6.10617 10.2141C5.81646 11.2258 5.67161 12.346 5.67161 13.5745H9.90864V22.4634H1V16.935C1 13.6107 1.30782 11.0813 1.92346 9.34688C2.57531 7.61246 3.55309 6.02258 4.85679 4.57723C6.16049 3.09575 7.84444 1.90334 9.90864 1Z"/> 
                                    </svg>                                     
                                    <h2 class="mb-3">The real fight is not in the field. It is in the heart</h2> 
                                    <div class=""> 
                                        <span>Fien Ngumih - </span> 
                                        <span class="text-primary">C-Tech</span> 
                                    </div>                                     
                                </div>                                 
                                <div class="carousel-item"> 
                                    <svg viewBox="0 0 24 24" fill="currentColor" height="80" width="80" class="mb-3 text-primary"> 
                                        <path d="M23 1V5.06504C21.9136 5.67931 21.0807 6.43812 20.5012 7.34146C19.958 8.24481 19.5416 9.20235 19.2519 10.2141C18.9621 11.2258 18.8173 12.346 18.8173 13.5745H23V22.4634H14.0914V16.935C14.0914 13.6107 14.3992 11.0813 15.0148 9.34688C15.6667 7.61246 16.6444 6.02258 17.9481 4.57723C19.2519 3.09575 20.9358 1.90334 23 1ZM9.90864 1V5.06504C8.82222 5.67931 7.9893 6.43812 7.40988 7.34146C6.83045 8.24481 6.39588 9.20235 6.10617 10.2141C5.81646 11.2258 5.67161 12.346 5.67161 13.5745H9.90864V22.4634H1V16.935C1 13.6107 1.30782 11.0813 1.92346 9.34688C2.57531 7.61246 3.55309 6.02258 4.85679 4.57723C6.16049 3.09575 7.84444 1.90334 9.90864 1Z"/> 
                                    </svg>                                     
                                    <h2 class="mb-3">What is a system without its security? The worst idea yo</h2> 
                                    <div class=""> 
                                        <span>Elroy Kanye - </span> 
                                        <span class="text-primary">Skye8</span> 
                                    </div>                                     
                                </div>                                 
                            </div>                             
                            <ol class="carousel-indicators mt-4 position-relative"> 
                                <li data-target="#carousel2" data-slide-to="0" class="active bg-primary"></li>                                 
                                <li data-target="#carousel2" data-slide-to="1" class="bg-primary"></li>                                 
                                <li data-target="#carousel2" data-slide-to="2" class="bg-primary"></li>                                 
                            </ol>                             
                        </div>                         
                    </div>                     
                </div>                 
            </div>             
        </section>
        <section class="background-darken pb-5 pt-5 text-secondary">
            <div class="container pb-4 pt-4"> 
                <h2 class="font-weight-bold h1 mb-4 text-light">Latest Articles</h2>
                <div class="justify-content-center row row-bg-darken"> 
                    <div class="col-lg-4 col-md-6 pb-3 pt-3"> 
                        <div class="d-flex flex-column h-100 inner-bg-darken"> 
                            <a href="#" class="d-block"><img src="assets/img/services/pexels-pixabay-163467.jpg" class="img-fluid w-100"></a>
                            <div class="p-3">
                                <div class="font-weight-bold mb-2">
                                    <a href="">Newbie</a>, 
                                    <a href="">Veteran</a>
                                </div>
                                <a href="#" class="text-light text-decoration-none"><h5 class="mb-0">Getting aquainted with life as a veteran</h5></a>
                            </div>
                            <div class="align-items-center border border-bottom-0 border-left-0 border-right-0 d-flex justify-content-between mt-auto p-3 small">
                                <a href="#" class="align-items-center d-flex text-dark"><img src="assets/img/services/pexels-specna-arms-1927974.jpg" class="mr-2 rounded-circle" width="48" height="48"><div>
                                        <h6 class="mb-0 text-light">Atabong Yannick</h6>
                                        <p class="mb-0 text-secondary">10 August 2020</p>
                                    </div></a>
                                <span>6 min</span>
                            </div>                             
                        </div>                         
                    </div>
                    <div class="col-lg-4 col-md-6 pb-3 pt-3"> 
                        <div class=" d-flex flex-column h-100 inner-bg-darken"> 
                            <a href="#" class="d-block"><img src="assets/img/services/pexels-specna-arms-1927974.jpg" class="img-fluid w-100"></a>
                            <div class="p-3">
                                <div class="font-weight-bold mb-2">
                                    <a href="">Dreams</a>, 
                                    <a href="">Lifestyle</a>
                                </div>
                                <a href="#" class="text-light text-decoration-none"><h5 class="mb-0">Where to start as an aspiring soldier?</h5></a>
                            </div>
                            <div class="align-items-center border border-bottom-0 border-left-0 border-right-0 d-flex justify-content-between mt-auto p-3 small">
                                <a href="#" class="align-items-center d-flex text-dark"><img src="assets/img/services/pexels-pixabay-54098.jpg" class="mr-2 rounded-circle" width="48" height="48"><div>
                                        <h6 class="mb-0 text-light">Vershiyi Collette</h6>
                                        <p class="mb-0 text-secondary">10 August 2020</p>
                                    </div></a>
                                <span>8 min</span>
                            </div>                             
                        </div>                         
                    </div>
                    <div class="col-lg-4 col-md-6 pb-3 pt-3"> 
                        <div class="d-flex flex-column h-100 inner-bg-darken"> 
                            <a href="#" class="d-block"><img src="assets/img/services/pexels-pixabay-54098.jpg" class="img-fluid w-100"></a>
                            <div class="p-3">
                                <div class="font-weight-bold mb-2">
                                    <a href="">Query</a>, 
                                    <a href="">Help</a>
                                </div>
                                <a href="#" class="text-light text-decoration-none"><h5 class="mb-0">How to make a freedom of information request</h5></a>
                            </div>
                            <div class="align-items-center border border-bottom-0 border-left-0 border-right-0 d-flex justify-content-between mt-auto p-3 small">
                                <a href="#" class="align-items-center d-flex text-dark"><img src="assets/img/services/pexels-pixabay-54098.jpg" class="mr-2 rounded-circle" width="48" height="48"><div>
                                        <h6 class="mb-0 text-light">Roy Feroy</h6>
                                        <p class="mb-0 text-secondary">10 August 2020</p>
                                    </div></a>
                                <span>5 min</span>
                            </div>                             
                        </div>                         
                    </div>                     
                </div>                 
            </div>             
        </section>
        <section class="pb-5 pt-5 text-center text-secondary"> 
            <div class="container  pb-5 pt-5"> 
                <div class="align-items-center row"> 
                    <div class="col-lg-7 ml-auto mr-auto"> 
                        <h2 class="font-weight-bold text-light">Need a professional military advice?</h2>
                        <p class="font-weight-light mb-4">Get one free consultation from our field experts</p>
                        <a href="#" class="btn btn-primary">Request Now</a> 
                    </div>                     
                </div>                 
            </div>             
        </section>
        <footer class=" pt-5 text-white" style="background-color: #212327;"> 
            <div class="container"> 
                <div class="row"> 
                    <div class="col-xl-4 mr-auto py-3"> 
                        <a href="#" class="d-inline-block h2 mb-4 text-decoration-none text-light text-uppercase">Metropolis</a> 
                        <div class="mb-4"> 
                            <a href="#" class="text-white">+237 671 234 567</a> 
                            <br> 
                            <a href="#" class="text-white">group9@webprogramming.come</a> 
                        </div>                         
                        <div class="d-inline-flex flex-wrap"> 
                            <a href="#" class="p-1 text-white"> <svg viewBox="0 0 24 24" fill="currentColor" width="20" height="20"> 
                                    <path d="M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4v-8.5z"/> 
                                </svg> </a> 
                            <a href="#" class="p-1 text-white"> <svg viewBox="0 0 24 24" fill="currentColor" width="20" height="20"> 
                                    <path d="M22.162 5.656a8.384 8.384 0 0 1-2.402.658A4.196 4.196 0 0 0 21.6 4c-.82.488-1.719.83-2.656 1.015a4.182 4.182 0 0 0-7.126 3.814 11.874 11.874 0 0 1-8.62-4.37 4.168 4.168 0 0 0-.566 2.103c0 1.45.738 2.731 1.86 3.481a4.168 4.168 0 0 1-1.894-.523v.052a4.185 4.185 0 0 0 3.355 4.101 4.21 4.21 0 0 1-1.89.072A4.185 4.185 0 0 0 7.97 16.65a8.394 8.394 0 0 1-6.191 1.732 11.83 11.83 0 0 0 6.41 1.88c7.693 0 11.9-6.373 11.9-11.9 0-.18-.005-.362-.013-.54a8.496 8.496 0 0 0 2.087-2.165z"/> 
                                </svg> </a> 
                            <a href="#" class="p-1 text-white"> <svg viewBox="0 0 24 24" fill="currentColor" width="20" height="20"> 
                                    <path d="M12 2c2.717 0 3.056.01 4.122.06 1.065.05 1.79.217 2.428.465.66.254 1.216.598 1.772 1.153a4.908 4.908 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428.047 1.066.06 1.405.06 4.122 0 2.717-.01 3.056-.06 4.122-.05 1.065-.218 1.79-.465 2.428a4.883 4.883 0 0 1-1.153 1.772 4.915 4.915 0 0 1-1.772 1.153c-.637.247-1.363.415-2.428.465-1.066.047-1.405.06-4.122.06-2.717 0-3.056-.01-4.122-.06-1.065-.05-1.79-.218-2.428-.465a4.89 4.89 0 0 1-1.772-1.153 4.904 4.904 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.013 15.056 2 14.717 2 12c0-2.717.01-3.056.06-4.122.05-1.066.217-1.79.465-2.428a4.88 4.88 0 0 1 1.153-1.772A4.897 4.897 0 0 1 5.45 2.525c.638-.248 1.362-.415 2.428-.465C8.944 2.013 9.283 2 12 2zm0 5a5 5 0 1 0 0 10 5 5 0 0 0 0-10zm6.5-.25a1.25 1.25 0 0 0-2.5 0 1.25 1.25 0 0 0 2.5 0zM12 9a3 3 0 1 1 0 6 3 3 0 0 1 0-6z"/> 
                                </svg> </a> 
                            <a href="#" class="p-1 text-white"> <svg viewBox="0 0 24 24" fill="currentColor" width="20" height="20"> 
                                    <path d="M6.94 5a2 2 0 1 1-4-.002 2 2 0 0 1 4 .002zM7 8.48H3V21h4V8.48zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91l.04-1.68z"/> 
                                </svg> </a> 
                            <a href="#" class="p-1 text-white"> <svg viewBox="0 0 24 24" fill="currentColor" width="20" height="20"> 
                                    <path d="M21.543 6.498C22 8.28 22 12 22 12s0 3.72-.457 5.502c-.254.985-.997 1.76-1.938 2.022C17.896 20 12 20 12 20s-5.893 0-7.605-.476c-.945-.266-1.687-1.04-1.938-2.022C2 15.72 2 12 2 12s0-3.72.457-5.502c.254-.985.997-1.76 1.938-2.022C6.107 4 12 4 12 4s5.896 0 7.605.476c.945.266 1.687 1.04 1.938 2.022zM10 15.5l6-3.5-6-3.5v7z"/> 
                                </svg> </a> 
                        </div>                         
                    </div>                     
                    <div class="col-sm-4 col-xl-2 py-3"> 
                        <h5 class="font-weight-bold mb-4 text-uppercase">About</h5> 
                        <ul class="list-unstyled"> 
                            <li class="mb-3"> 
                                <a href="#" class="text-white">Contact Us</a> 
                            </li>                             
                            <li class="mb-3"> 
                                <a href="#" class="text-white">About Us</a> 
                            </li>                             
                        </ul>                         
                    </div>                     
                    <div class="col-sm-4 col-xl-2 py-3"> 
                        <h5 class="font-weight-bold mb-4 text-uppercase">Pages</h5> 
                        <ul class="list-unstyled"> 
                            <li class="mb-3"> 
                                <a href="#" class="text-white">Services and Help</a> 
                            </li>                             
                            <li class="mb-3"> 
                                <a href="#" class="text-white">Who We Are</a> 
                            </li>                             
                            <li class="mb-3"> 
                                <a href="#" class="text-white">What We Do</a> 
                            </li>                             
                        </ul>                         
                    </div>                     
                    <div class="col-sm-4 col-xl-2 py-3"> 
                        <h5 class="font-weight-bold mb-4 text-uppercase">Other</h5> 
                        <ul class="list-unstyled"> 
                            <li class="mb-3"> 
                                <a href="#" class="text-white">Home</a> 
                            </li>                             
                            <li class="mb-3"> 
                                <a href="#" class="text-white">Equipment</a> 
                            </li>                             
                        </ul>                         
                    </div>                     
                </div>                 
                <div class="pb-3 pt-3 text-center"> 
                    <hr class="border-light mt-0"> 
                    <p class="mb-0">Copyright &copy; 2021 Metropolis</p> 
                </div>                 
            </div>             
        </footer>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
